.main {
  min-height: 100vh;
}

@media screen and (min-width: 768px) {
  .footer {
    padding: 0 15px 40px;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    padding: 0 15px 40px;
  }
}

.loading {
  width: 120px;
  height: 22px;
  border-radius: 40px;
  color: #514b82;
  border: 2px solid;
  position: relative;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    margin: 2px;
    width: 14px;
    top: 0;
    bottom: 0;
    left: -20px;
    border-radius: inherit;
    background: currentColor;
    box-shadow: -10px 0 12px 3px currentColor;
    clip-path: polygon(0 5%, 100% 0, 100% 100%, 0 95%, -30px 50%);
    animation: ct4 1s infinite linear;
  }

  @keyframes ct4 {
    100% {
      left: calc(100% + 20px);
    }
  }
}

.editor-wrapper {
  height: 500;
  width: 800;
  border-radius: 5px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.2);
  .editor {
    white-space: pre-wrap;
    border-style: none;
    border-color: transparent;
    overflow: hidden;
    outline: none;
    resize: none;
    width: 100%;
  }
  .title {
    @extend .editor;
    font-size: 3rem;
    font-weight: 800;
  }
  .detail {
    @extend .editor;
    font-size: 1rem;
    font-weight: 500;
  }
}

.upload {
  height: 56px;
  background-color: rgba(170, 167, 167, 0.2);
  padding-left: 64px;
  padding-right: 64px;
  display: flex;
    align-items: center;
  &-btn {
    width: 180px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 5px 10px 5px;
    &:hover {
      background-color: rgba(170, 167, 167, 0.4);
    }
  }
}
